{% extends 'base.html.twig' %}

{% block title %}{{'portal.title'|trans|raw}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background-color: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="page_form_heading">
        <div class="row">
            <div class="col-sm-6">
                {{'portal.dashboard.title'|trans|raw}}
            </div>
            <div class="col-sm-6">
                <div class="loggedIn">
                {{ 'logged_in_as'|trans|raw }}
                <a href="{{ path('broker_edit', {'id': broker.id}) }}"
                title="{{'action.edit'|trans|raw}}">
                    {{ broker.getName() }}
                    </a>
                </div>
            </div> 
        </div> 
    </div>

    <div class="row">
        <div class="col-sm-6" >
            <div class="dashboard_jumbotron">              
                {% include 'dashboard/broker.html.twig' with brokers %}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="dashboard_jumbotron">              
                {% include 'dashboard/customer.html.twig' with customers %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="dashboard_jumbotron">               
                {% include 'dashboard/supplier.html.twig' with suppliers %}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="dashboard_jumbotron">            
                {% include 'dashboard/product.html.twig' with products %}
            </div>
        </div>
    </div>            
{% endblock %}
