{% extends 'base.html.twig' %}

{% block title %}{{'customer_new'|trans|raw}}{% endblock %}

{% block body %}

<div class="page_form_heading">
    {{'customer_new'|trans|raw}}
    <div class="return_to_list_label">
        <a class="return_to_list_label" href="{{ path('customer_index') }}" title="{{'back_to_list'|trans|raw}}">
        <i class="fas fa-undo page_icon"></i></a>
    </div>
</div>

<div class="row">
    <div class="col">
    {{ include('_newform.html.twig') }}
    </div>
</div>

{% endblock %}
