    <div class="row">
        <div class="col form_component">        
            <div class="row">
                <div class="col-sm-6">
                    <div class="form_component_title">{{'form_component_products_title'|trans|raw}}</div>
                </div>
                <div class="col-sm-6">
                {% if edit_state or fresh_state %}
                    <a class="form_component_link" 
                    href="{{ path('product_new',{'customer': customer.id}) }}" 
                    title="{{'form_component_newProduct'|trans|raw}}">
                    <i class="fas fa-plus page_icon"></i>
                    </a>
            {% endif %}
                </div>
            </div>

            {% if customer.products %}        
            <div class="form_component_container">
                <table class="form_component_table">
                    <tbody>
                        {% for product in customer.products %}
                            <tr>
                                <td>{{product.name}}</td>
                                <td class="action_column">
                                    <a class="form_component_link" 
                                    href="{{ path('product_edit',{'id': product.id}) }}" 
                                    title="{{'action.edit'|trans|raw}}">
                                    <i class="fas fa-edit page_icon"></i>
                                    </a>                                     
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <div class="form_component_no_records">{{'form_component_no_records'|trans|raw}}</div>
            {% endif %}
    </div>
</div>