{% extends 'base.html.twig' %}

{% block title %}{{'supplier_index'|trans|raw}}{% endblock %}

{% block body %}
  <div class="page_form_heading">{{'supplier_index'|trans|raw}}
    <div class="return_to_list_label">
        <a href="{{ path('supplier_new') }}" title="{{'create_new_supplier'|trans|raw}}"><i class="fas fa-plus page_icon"></i></i></a>
        <a href="{{ path('portal_index') }}" title="{{'back_to_portal'|trans|raw}}"><i class="fas fa-undo page_icon"></i></a>
    </div>
  </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Added</th>
                <th>Date Edited</th>
                <th><i class="fab fa-bluetooth-b"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.dateAdded ? supplier.dateAdded|date('Y-m-d') : '' }}</td>
                <td>{{ supplier.dateEdited ? supplier.dateEdited|date('Y-m-d') : '' }}</td>
                <td>
                   <a href="{{ path('supplier_new') }}" title="{{'create_new_supplier'|trans|raw}}"><i class="fas fa-plus page_icon"></i></i></a>
        <a href="{{ path('portal_index') }}" title="{{'back_to_portal'|trans|raw}}"><i class="fas fa-undo page_icon"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="no_records_found" colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
