    <div class="row">
        <div class="col form_component">        
            <div class="row">
                <div class="col-sm-6">
                    <div class="form_component_title">{{'form_component_products_title'|trans|raw}}</div>
                </div>
                <div class="col-sm-6">
                    <a class="form_component_link" href="{{ path('message_newSupplier',{'supplier_id': supplier.id}) }}" title="{{'form_component_newMessage'|trans|raw}}">
                    <i class="fas fa-plus page_icon"></i>
                    </a>
                </div>
            </div>

            {% if messages %}        
            <div class="form_component_container">
                <table class="form_component_table">
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{product.name}}</td>
                                <td class="action_column">
                                    <a class="form_component_link" href="{{ path('message_edit',{'id': message.id}) }}" title="{{'action.edit'|trans|raw}}">
                                    <i class="fas fa-edit page_icon"></i>
                                    </a>                                     
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <div class="form_component_no_records">{{'form_component_no_records'|trans|raw}}</div>
            {% endif %}
    </div>
</div>