{{ form_start(form) }}
<div class="row">
    <div class="col-sm-6">
        {{ form_widget(form) }}
    </div>
    <div class="col-sm-6" style="overflow:scroll;height:300px;">
      {{ form_widget(contact) }}
    </div>
{#         <div class="col-sm-3">
        {{ form_widget(messages) }}
    </div> #}
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}

