{% extends 'base.html.twig' %}

{% block title %}{{'broker_new'|trans|raw}}{% endblock %}

{% block body %}

<div style="height:450px;">
    <div class="page_form_heading">{{'broker_new'|trans|raw}}
    <a class="return_to_list_label" href="{{ path('broker_index') }}" title="{{'back_to_list'|trans|raw}}">
    <i class="fas fa-undo page_icon"></i></a>
    </div>
    {{ include('broker/_form.html.twig') }}
</div>
{% endblock %}
