{% extends 'base.html.twig' %}

{% block title %}{{'broker_edit'|trans|raw}}{% endblock %}

{% block body %}
    <div class="page_form_heading">{{'broker_show'|trans|raw}}</div>
     <div class="return_to_list_label">
   {{ include('broker/_delete_form.html.twig') }} 
    <a href="{{ path('broker_edit', {'id': broker.id}) }}" title="{{'action_edit'|trans|raw}}"><i class="fas fa-edit page_icon"></i></a>
    <a href="{{ path('broker_index') }}" title="{{'back_to_list'|trans|raw}}"><i class="fas fa-undo page_icon"></i></a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ broker.name }}</td>
            </tr>
            <tr>
                <th>Date Added</th>
                <td>{{ broker.dateAdded ? broker.dateAdded|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date Edited</th>
                <td>{{ broker.dateEdited ? broker.dateEdited|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>



{% endblock %}
