<div class="form_div">
    {{ form_start(form) }}
    {# {% do form.id.setRendered() %} #}
    
    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        {{ form_row(form.specifications)}}
        </div>
        <div class="col-sm-6">
        {# <div class="form_component_title">{{'form_component_notes_title'|trans|raw}}</div> 
            <div class="row">
             <div class="col-sm-6">
                <div class="form_component_title">{{'form_component_notes_title'|trans|raw}}</div>
            </div> 
            <div class="col-sm-12">
                {% if edit_state or fresh_state %}
                    <a class="form_component_link" href="supplier_newNote" title="{{'form_component_newNote'|trans|raw}}">
                    <i class="fas fa-plus page_icon"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    <div class="col form_component">        
        <div class="row">

            </div>
            </div> #}
            {% include 'product/notes.html.twig' %}
            
            {# {{ form_row(form.notes)}} #}
        </div>
    </div>
    {% if edit_state or fresh_state %}
    <div class="row">
        <div class="col-sm-12 form_button">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    </div>
    {% endif %}

    {{ form_end(form) }}
</div>
