{% extends 'base.html.twig' %}

{% block title %}{{'customer_show'|trans|raw}}{% endblock %}

{% block body %}

 <div class="product_form">
    <div class="row product_page_title">{{'product_show'|trans|raw}}</div>

    {# {{ form_start(form) }} #}
    <div class="row">
        <div class="col-sm-6 product_title">
            {{ product.name|trans|raw }}           
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12 product_specifications_title">
                {{ 'product_specifications_title'|trans|raw}}
                </div>
            </div>
            <div class="row">
                    <div class="product_specifications">
                            {{ product.specifications.details }}
                    </div>
            </div>
        </div>    
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12 product_specifications_title">
                    {{ 'product_notes_title'|trans|raw}}
                </div>
            </div>
            <div class="row">
                <div class="product_specifications">
                    <ul>
                    {% for note in product.notes %}
                        <li>
                            {{ note.details }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-12 form_button">
        </div>
    </div> 

    {# {{ form_end(form) }} #}
</div>

{% endblock %}
