<div class="form_div">
    {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">

                {{ form_row(form.sentBy) }}
                {{ form_row(form.text) }}
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn">{{ button_label|default('Save') }}</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">        
                <div class="form_component">
                    {{ form_row(form.brokers) }}
                    <table class="table">
                        {% for broker in message.brokers %}        
                          <tr>
                            <td>  
                            {{ broker.name }}
                            </td>
                            <td><input type="checkbox" value={{ broker.id }}/></td>
                            </tr>
                        {% endfor %}
                        </table>
                </div>
                <div class="form_component">
                    {{ form_row(form.suppliers) }}
                </div>
                <div class="form_component">
                    {{ form_row(form.customers) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
</div>