<div class="form_div">
{# {{ dump(form) }} #}
    {{ form_start(form) }}
        {# {% do form.id.setRendered() %} #}
        <div class="row">
            <div class="col-sm-6">
                    {% if form.sentBy is defined %}
                        {% do form.senderSelection.setRendered() %}
                        {{ form_row(form.sentBy) }}
                    {% else %}
                        {% do form.sentBy.setRendered() %}
                        {{ form_row(form.senderSelection) }}
                    {% endif %} 

                {{ form_row(form.text) }}
            
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_component_header">
                            {{ 'form_component_header_senders'|trans|raw}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.brokerSelection) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.customerSelection) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.supplierSelection) }} 
                    </div>
                </div>
            </div>
        
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_component_header">
                            {{ 'form_component_header_recipients'|trans|raw}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_component">
                            <table class="table">
                            <caption class="caption">
                                {{ 'message_brokers_table_caption'|trans|raw}}
                            </caption>
                            <tbody>
                                {% for broker in brokers %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('broker_edit',{'id':broker.id}) }}" 
                                            title="{{'broker_edit'|trans|raw}}">
                                                {{ broker.name }}
                                            </a>
                                        </td>
                                        <td class="action_column">
                                            <a href="{{ path('message_removeBroker',{ 'message': message.id, 'broker':broker.id }) }}"
                                            title="{{'broker_remove'|trans|raw}}">
                                            <i class="fas fa-minus-circle"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_component">
                            <table class="table">
                                <caption class="caption">{{ 'message_customers_table_caption'|trans|raw}}</caption>
                                <tbody>
                                {% for customer in customers %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('customer_edit',{'id':customer.id}) }}" title="{{'customer_edit'|trans|raw}}">
                                                {{ customer.name }}
                                            </a>
                                        </td>
                                        <td class="action_column">
                                            <a href="{{ path('message_removeCustomer',{ 'message': message.id, 'customer':customer.id }) }}"
                                            title="{{'customer_remove'|trans|raw}}">
                                            <i class="fas fa-minus-circle"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_component">
                            <table class="table">
                            <caption class="caption">{{ 'message_suppliers_table_caption'|trans|raw}}</caption>
                                <tbody>
                                {% for supplier in suppliers %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('supplier_edit',{'id':supplier.id}) }}" title="{{'supplier_edit'|trans|raw}}">
                                                {{ supplier.name }}
                                            </a>
                                        </td>
                                        <td class="action_column">
                                            <a href="{{ path('message_removeSupplier',{ 'message': message.id, 'supplier':supplier.id }) }}"
                                            title="{{'supplier_remove'|trans|raw}}">
                                            <i class="fas fa-minus-circle"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" style="float:right;margin:10px 20px 0 0;">{{ button_label|default('Save') }}</button>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
</div>