{% extends 'base.html.twig' %}

{% block title %}{{'message_edit'|trans|raw}}{% endblock %}

{% block body %}
<div class="page_form_header">
    <div class="page_form_heading">
        {{'message_edit'|trans|raw}}
        <div class="return_to_list_label">
            {{ include('message/_delete_form.html.twig') }}
            {% if broker_id is defined %}
                <a href="{{ path('broker_edit', {'id':broker_id}) }}" 
                title="{{'return_to_broker'|trans|raw}}">
                <i class="fas fa-undo page_icon"></i></a>  
            {% elseif customer_id is defined %}
                <a href="{{ path('customer_edit', {'id':customer_id}) }}" 
                title="{{'return_to_customer'|trans|raw}}">
                <i class="fas fa-undo page_icon"></i></a>  
            {% elseif supplier_id is defined %}
                <a href="{{ path('supplier_edit', {'id':supplier_id}) }}" 
                title="{{'return_to_supplier'|trans|raw}}">
                <i class="fas fa-undo page_icon"></i></a>  
            {% else %}
                <a href="{{ path('message_index') }}" title="{{'back_to_list'|trans|raw}}"><i class="fas fa-undo page_icon"></i></a>    
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        {{ include('message/_form.html.twig', {'button_label': 'Update'}) }} 
    </div>
 </div>

{% endblock %}
