{% extends 'base.html.twig' %}

{% block title %}{{'message_show'|trans|raw}}{% endblock %}

{% block body %}

<div class="page_form_header">
    <div class="page_form_heading">
        {{'message_show'|trans|raw}}
        <div class="return_to_list_label">
            {# {{ include('message/_delete_form.html.twig') }} #}
            <a href="{{ path('message_index') }}" title="{{'back_to_list'|trans|raw}}"><i class="fas fa-undo page_icon"></i></a>    
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        {{ include('message/_form.html.twig', {'button_label': 'Update'}) }} 
    </div>
 </div>

{% endblock %}

