{% block body %}
    <div class="row">
        <div class="col">
            <div class="dashboard_title">
                {{'dashboard.title.brokers'|trans|raw}}  
            <a class="return_to_list_label" href="{{ path('broker_index') }}" title="Details"><i class="fas fa-file-alt page_icon"></i></a>
            </div>
        </div>
    </div>

        <table class="dashboard_table" >
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
             {% for broker in brokers %} 
            {# {% for broker in paginator.results %} #}
            
                <tr>
                    <td>{{ broker.name }}</td>
                    <td class="return_to_list_label">
                        <a href="{{ path('broker_show', {'id': broker.id}) }}" title="View"><i class="far fa-eye dashboard_icon"></i></a>
                        <a href="{{ path('broker_edit', {'id': broker.id}) }}" title="Edit"><i class="fa fa-edit dashboard_icon"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="no_records_found" colspan="2">{{'table.no_records_found'|trans|raw}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#
    {% if paginator.hasToPaginate %}
        <div class="navigation text-center">
            <ul class="pagination">
                {% if paginator.hasPreviousPage %}
                    <li class="prev"><a href="{{ path('blog_index_paginated', {page: paginator.previousPage, tag: tagName}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i> {{ 'paginator.previous'|trans }}</a></li>
                {% else %}
                    <li class="prev disabled"><span><i class="fa fw fa-arrow-left"></i> {{ 'paginator.previous'|trans }}</span></li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li class="active"><span>{{ i }} <span class="sr-only">{{ 'paginator.current'|trans }}</span></span></li>
                    {% else %}
                        <li><a href="{{ path('blog_index_paginated', {page: i, tag: tagName}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li class="next"><a href="{{ path('blog_index_paginated', {page: paginator.nextPage, tag: tagName}) }}" rel="next">{{ 'paginator.next'|trans }} <i class="fa fw fa-arrow-right"></i></a></li>
                {% else %}
                    <li class="next disabled"><span>{{ 'paginator.next'|trans }} <i class="fa fw fa-arrow-right"></i></span></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    #}
{% endblock %}