{% block body %}
<div class="row">
        <div class="col">
            <div class="dashboard_title">
                {{'dashboard.title.products'|trans|raw}}  
            <a class="return_to_list_label" href="{{ path('product_index') }}" title="Details"><i class="fas fa-file-alt page_icon"></i></a>
            </div>
        </div>
    </div>
    <table class="dashboard_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>DateAdded</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.dateAdded ? product.dateAdded|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 

{% endblock %}