{% block body %}
<div class="row">
        <div class="col">
            <div class="dashboard_title">
                {{'dashboard.title.products'|trans|raw}}  
            <a class="return_to_list_label" href="{{ path('product_index') }}" title="Details"><i class="fas fa-file-alt page_icon"></i></a>
            </div>
        </div>
    </div>
    <table class="dashboard_table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
             <td class="return_to_list_label">
                        <a href="{{ path('product_show', {'id': product.id}) }}" title="View"><i class="far fa-eye dashboard_icon"></i></a>
                        <a href="{{ path('product_edit', {'id': product.id}) }}" title="Edit"><i class="fa fa-edit dashboard_icon"></i></a>
                    </td>
            </tr>
        {% else %}
            <tr>
                <td class="no_records_found" colspan="2">{{'table.no_records_found'|trans|raw}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 

{% endblock %}