{% block body %}
<div class="row">
        <div class="col">
            <div class="dashboard_title">
                {{'dashboard.title.suppliers'|trans|raw}}  
            <a class="return_to_list_label" href="{{ path('supplier_index') }}" title="Details"><i class="fas fa-file-alt page_icon"></i></a>
            </div>
        </div>
    </div>
    <table class="dashboard_table" >
        <thead>
            <tr>
                <th>Name</th>
                <th>DateAdded</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr><td>{{ supplier.name }}</td>
                <td>{{ supplier.dateAdded ? supplier.dateAdded|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('supplier_show', {'id': supplier.id}) }}">show</a>
                    <a href="{{ path('supplier_edit', {'id': supplier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 

{% endblock %}