{% block body %}
<div class="dashboard_title">
    {{'dashboard.title.suppliers'|trans|raw}}
        <div class="return_to_list_label"> 
        {% if is_granted('ROLE_ADMIN') or broker.id is defined %}
            <a href="{{ path('supplier_new') }}" 
            title="{{'supplier_new'|trans|raw}}">
            <i class="fas fa-plus page_icon"></i>
            </a>
        {% endif %}
            <a href="{{ path('supplier_index_paginated', {'page':1}) }}" 
            title="{{'dashboard_suppliers_table'|trans|raw}}">
            <i class="fas fa-file-alt page_icon"></i></a>
        </div>  
</div>

<div class="dashboard_table">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr><td>{{ supplier.name }}</td>
                <td class="return_to_list_label">
                        <a href="{{ path('supplier_show', {'id': supplier.id}) }}" title="View"><i class="far fa-eye dashboard_icon"></i></a>
                        {% if is_granted('ROLE_ADMIN') or broker_id == supplier.getBrokerId() %}
                            <a href="{{ path('supplier_edit', {'id': supplier.id}) }}" title="Edit"><i class="fa fa-edit dashboard_icon"></i></a>
                        {% endif %}
                    </td>
            </tr>
        {% else %}
          {%include 'no_dashboard_records_found.php' %}    
        {% endfor %}
        </tbody>
    </table> 
</div>
{% endblock %}