{% extends 'base.html.twig' %}

{% block title %}{{'new_specification'|trans|raw}}{% endblock %}

{% block body %}
    <div class="page_form_header">
        <div class="page_form_heading">
            {{'new_specification'|trans|raw}}
            <div class="return_to_list_label">
                {% if edit_state or fresh_state %}
                    <a href="{{ path('specification_index') }}" 
                    title="{{'back_to_list'|trans|raw}}">
                    <i class="fas fa-undo page_icon"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if edit_state or fresh_state %}
    <div class="row">
        <div class="col">
            {{ include('specification/_form.html.twig') }}
        </div>
    </div>
    {% endif %}

{% endblock %}
